<div class="container">
    <div class="navbar-translate">
        <a class="navbar-brand" href="/index.html" data-placement="bottom" target="_self">
            buchholzer.info
        </a>
    </div>
</div>